table{
border: 1px solid black;
margin-left: auto;
margin-right: auto;
margin-top: 170px;
}
td{
background-color: beige;
}
th{
    background-color: aqua;
}
#opers{
    background-color:chartreuse;
}
.elsooszlop{
    background-color: brown;
}
.text{
text-align: center;
}
th, td{
    width: 100px;
}
.p{
    text-align: center;
}